.idea/
.happyClean/
.cleanXjcHappy/

target/
out/
build/
schema/
classes/
bin/
lib_modules/
.gradle/
.settings/
__pycache__/
ips-hello*/
git_stats/
target_junit

checkstyle.cache
.classpath
.project

*.ipr
*.iml
*.log
*.~vsd
*.bak
*.out
*.bin
*.lock

.DS_Store
nohup.out

#python files
*.pyc
*.pickle
cerberusApp.zip

#aop files
argfile*

*/*/ips-compensation/

/.nb-gradle/
/docs/

*.swp

